# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# OS crap
.DS_Store
Thumbs.db

# Local videos (DO NOT PUSH LARGE FILES)
input_videos/
outputs/

# Ultralytics cache
*.pt
runs/

# IDE
.vscode/
.idea/
